.footer {
    background: #170119;
    padding: 0 0 .4%;
    position: relative;
}
.footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 0 4%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.footer__contact-red {
    position: absolute;
    background-color: #D2132A;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
}
.footer__contact:hover .footer__contact  img{
    transform: rotate(45deg);
}
.footer__contact:hover .footer__contact-red {
    right: 0;
    -webkit-transition: .8s ease all;
    -moz-transition: .8s ease all;
    transition: .8s ease all;
}

.footer__contact h3, 
.footer__copy,
.footer__logo p {
    color: #FFFFFF;
}
.footer__contact h3{
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
    padding: 0 15px 0 0;
}
.footer__contact img, 
.footer__contact h3 {
    z-index: 5;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 1.2% 0 0;
}
.footer__copy {
    font-size: 14px;
    mix-blend-mode: normal;
    opacity: 0.98;
}
.footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo p{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 0 0 14px;
}
.footer__img {
    position: absolute;
}
.footer__torus {
    top: -79px;
    z-index: 1;
    right: 20px;
}

@media (max-width: 880px) {
    .footer__torus {
        top: -110px;
        right: 20px;
    }
}
@media (max-width: 600px) {
    .footer__torus {
       display: none;
    }
}