
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  position: relative;
  max-width: 1335px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  overflow: hidden;
}

/* img {
  max-width: 100%;
  height: auto;
} */
h1,h2,h2,h3,h4,p{
  margin: 0;
}
h1, h2 {
  font-family: 'Archivo Black';
}
a {
  text-decoration: none;
}

/* .panel {
  transition: 1s ease all;
} */