.team {
    background-color: #FFECEE;
    padding: 0 0 6%;
    position: relative;
}
.team-content h2{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;  
    color: #383030;
}
.team-slider {
    display: flex;
    padding: 45px 0 0;
    justify-content: center;
    position: relative;
}
.slide__item {
    overflow: hidden;
    border-radius: 10px;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
}
.slide__item img{
    border-radius: 10px;
   position: relative;
}
.slide__hover {
    background-color: #D2132A;
    z-index: 10;
    position: absolute;
    width: 200px;
    height: 300px;
    width: 262px;
    height: 99%;
    border-radius: 10px;
    opacity: .9;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide__item:hover .slide__hover {
    display: flex;
}
.slide__hover p {
    font-size: 12px;
    color: #FFFFFF;
}
.slide__hover-name {
    font-family: 'Archivo Black';
    letter-spacing: 0.428571px;
    text-transform: uppercase;
    padding: 0 0 10px 0px;
}
.slick-slider {
    width: 100%;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
}
.slick-list {
    overflow: hidden;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.slick-track {
    display: flex;
}

.slick-arrow{
    position: absolute;
    top: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #161415;
    outline: none;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    cursor: pointer;
}
.team__prev {
    left: 0;
    z-index: 5;
}
.team__next {
    right: 0;
    z-index: 5;
}    
.slick-arrow:hover {
    background: #D2132A;
    color: #fff;
}

.panel-team {
    position: relative;
}

.team__img {
    position: absolute;
    z-index: 1;
}
.team__note_team {
    top: 57px;
    right: 256px;
}
.team__spher_team {
    top: 432px;
    left: 51px;
}
